data/datasets/
.venv*/
__pycache__/
tmp/
.ipynb_checkpoints/
.DS_Store
*.log

# Kaggle API tokens
kaggle.json
.kaggle_token
#GitHub PAT
.SUITE_PAT
.GITHUB_PAT

/checkpoints/
!/checkpoints/*_latest.pth
!/checkpoints/*_best.pth
# Ignore throwaway scripts
scratch/
