data/datasets/
.venv*/
__pycache__/
tmp/
.ipynb_checkpoints/
.DS_Store
*.log

# Kaggle API tokens
kaggle.json
.kaggle_token
#GitHub PAT
.SUITE_PAT
.GITHUB_PAT

# ML Artifacts (Avoid committing binary weights)
# trained-models/
# checkpoints/
# *.pth
# *.pt
# *.onnx
*_progress.pth
# Ignore throwaway scripts
scratch/
